---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
// const allNotes = Object.values(import.meta.glob('./notes/*.md', { eager: true }));
const pageTitle = 'Blog';
const allPosts = (await getCollection('blog')).map((item) => ({ ...item, source: 'blog' }));
const allNotes = (await getCollection('notes')).map((item) => ({ ...item, source: 'notes' }));
const allMovies = (await getCollection('movies')).map((item) => ({ ...item, source: 'movies' }));
// const allTvShows = (await getCollection('tvShows')).map((item) => ({ ...item, source: 'tv-shows' }));
const allThings = [...allPosts, ...allNotes, ...allMovies].sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learningkkmk Astro.</p>
  <ul>
    <!-- {allPosts.map((post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />)} -->
    <!-- {allNotes.map((post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />)} -->
    {
      allThings.map((post) => (
        <div>
              {post.source === 'notes' && 
                      <BlogPost url={`/notes/${post.id}/`} title={post.data.title} pubDate={post.data.pubDate} />

              <p>{post.data.title} (From Notes)</p>
              }
              {post.source === 'blog' && 
                      <BlogPost url={`/posts/${post.id}/`} title={post.data.title} pubDate={post.data.pubDate} />
              }
              {post.source === 'movies' && 
                      <BlogPost url={`/movies/${post.id}/`} title={post.data.title} pubDate={post.data.pubDate} />
              }


          {/* {post.source === 'notes' ? <p>I am happy to be learning notes!</p> : <p>I am happy to be learning posts</p>} */}
        </div>
      ))
    }
  </ul>
</BaseLayout>
