---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import avatarImage from '/public/assets/images/brody.png'

/** Main menu items */
const navLinks: { label: string; href: string; icon: string }[] = [
  { label: 'Home', href: '/', icon: 'tabler:home-2' },
  { label: 'Notes', href: '/notes/', icon: 'tabler:note' },
  { label: 'Blog', href: '/blog/', icon: 'tabler:notebook' },
  // { label: 'Projects', href: '/projects/', icon: 'tabler:rocket' },
  { label: 'About', href: '/about/', icon: 'tabler:user' },
]

/** Library links to content collections */
const libraryLinks: { label: string; href: string; icon: string }[] = [
  { label: 'Bookmarks', href: '/bookmarks', icon: 'tabler:bookmarks' },
  { label: 'Books', href: '/books', icon: 'tabler:book' },
  { label: 'Movies', href: '/movies', icon: 'tabler:movie' },
  { label: 'TV Shows', href: '/tv-shows', icon: 'tabler:device-tv-old' },
  { label: 'Games', href: '/games', icon: 'tabler:device-gamepad-2' },
  // { label: 'Events', href: '/events', icon: 'tabler:ticket' },
  // { label: 'Uses', href: '/uses', icon: 'tabler:devices-2' },
]

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
  let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
  if (pathname.at(0) !== '/') pathname = '/' + pathname
  if (pathname.at(-1) !== '/') pathname += '/'
  return pathname === href || (href !== '/' && pathname.startsWith(href))
}
---

<nav
  class='flex sticky top-0 flex-col gap-4 px-4 pt-16 pb-8 md:px-8 md:pt-20 md:pb-10 min-h-dvh dashed-border'
>
  <a href='/' class='hidden p-4 md:block'>
    <Image
      src={avatarImage}
      alt='Brody Maclean'
      width={96}
      height={96}
      quality={90}
      class='w-12 h-12 rounded-full'
    />
  </a>
  <div>
    <ul class='nav-items'>
      {
        navLinks.map(({ label, href, icon }) => (
          <li>
            <a
              aria-current={isCurrentPage(href) ? 'page' : null}
              class={
                isCurrentPage(href)
                  ? 'link inline-flex text-lg md:text-sm gap-3 after:content-[" "] after:block after:left-4 md:after:left-6 after:h-1 after:rounded-full after:w-1 after:absolute after:bg-tx-3 text-tx-0 py-1.5 pl-4 pr-5 items-center'
                  : 'link inline-flex text-lg md:text-sm gap-3 after:content-[" "] after:block after:left-4 md:after:left-6 after:h-1 after:rounded-full after:w-1 after:absolute hover:after:bg-ui-3 active:after:bg-tx-3 hover:text-tx-0 py-1.5 pl-4 pr-5 items-center '
              }
              href={href}
            >
              <Icon size={16} name={icon} class='' />
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <span class='flex px-4 mb-2 text-base md:text-sm text-tx-3'>Library</span>
    <ul class='library-nav'>
      {
        libraryLinks.map(({ href, icon, label }) => (
          <li>
            <a
              aria-current={isCurrentPage(href) ? 'page' : null}
              class={
                isCurrentPage(href)
                  ? 'link inline-flex text-lg md:text-sm gap-3 after:content-[" "] after:block after:left-4 md:after:left-6 after:h-1 after:rounded-full after:w-1 after:absolute after:bg-tx-3 text-tx-0 py-1.5 pl-4 pr-5 items-center'
                  : 'link inline-flex text-lg md:text-sm gap-3 after:content-[" "] after:block after:left-4 md:after:left-6 after:h-1 after:rounded-full after:w-1 after:absolute hover:after:bg-ui-3 active:after:bg-tx-3 hover:text-tx-0 py-1.5 pl-4 pr-5 items-center '
              }
              href={href}
            >
              <Icon size={16} name={icon} class='' />
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  .dashed-border::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      0deg,
      transparent 4px,
      var(--color-ui-1) 4px,
      var(--color-ui-1) 8px
    );
    background-size: 1px 8px;
  }
</style>
